body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
}
.wrap_inner:hover{
  color:rgb(61, 52, 52);
}
.a:hover{
  filter:blur(5px);
}
.page{
  /* margin-top:2em; */
  /* padding-top: 4em; */

  display:flex;
  flex-wrap:wrap;
  margin-left:15em;
  margin-top:3em;
  margin-bottom:2em;
}
.wrap_outer{
  display:grid;
  grid-template-columns: auto auto auto;
  padding-top:10px;
  background-color:grey;
  justify-content: space-evenly;
  margin-bottom:10px;
}
.wrap_inner{
  display:flex;
}
.container1{
  padding:40px;
  background:linear-gradient(black, grey);
  color:white;
}
.container2{
  border:solid;
  border-width:1px 1px 1px 0;
  padding:38px;
}
.input{
  border:none;
  width:100%;
  border-bottom:2px solid;
  border-BOTTOM-color:#3E4147;
  outline:none;
  }

.next{
  border-radius:2px;
  padding:10px;
  border-width:0.5px;
  border-color:#3E4147;
  color:white;
  background:linear-gradient(black, grey);
}
.next:hover{
  color:grey;
  background-color:darkgray;
}
.icon {
  height:25px;
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
@media screen and(max-width:1080px)
{
  div.container2{
    padding: 20px;
  }
}